---
layout: default
title: "All Categories"
---
<div class="container" style="padding: 4rem 0;">
  <h1 class="section-title">All Categories</h1>
  <ul>
    {% for category in site.categories %}
      <li>
        <h2><a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}/">{{ category[0] | capitalize }}</a> ({{ category[1].size }})</h2>
      </li>
    {% endfor %}
  </ul>
</div>

{% for category in site.categories %}
  {% capture category_name %}{{ category[0] | slugify }}{% endcapture %}
  <div id="{{ category_name }}" class="category-page" style="display:none;">
    ---
    layout: category
    category: {{ category[0] }}
    permalink: /categories/{{ category_name }}/
    ---
  </div>
{% endfor %}